<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.Asum_BE.board.mapper.BoardMapper">

    <!-- 게시글 목록 조회 -->
    <select id="findAllPosts" resultType="com.example.Asum_BE.board.entity.BoardEntity">
        SELECT * FROM board
        WHERE is_deleted = FALSE
    </select>

    <!-- 게시글 조회 -->
    <select id="findPostById" parameterType="java.lang.Long" resultType="com.example.Asum_BE.board.entity.BoardEntity">
        SELECT
        b.board_id AS boardId,
        b.author_id AS authorId,
        b.title,
        b.content,
        b.created_at AS createdAt,
        b.is_deleted AS isDeleted,
        b.view_count AS viewCount,
        b.role
        FROM
        board b
        WHERE b.board_id = #{boardId}
        AND b.is_deleted = FALSE
    </select>

    <!-- 게시글 저장 -->
    <insert id="savePost" parameterType="com.example.Asum_BE.board.entity.BoardEntity" useGeneratedKeys="true" keyProperty="boardId">
        INSERT INTO board (author_id, title, content, created_at, role)
        VALUES (#{authorId}, #{title}, #{content}, NOW(), #{role})
    </insert>

    <!-- 게시글 수정 -->
    <update id="updatePost" parameterType="com.example.Asum_BE.board.entity.BoardEntity">
        UPDATE board
        SET title = #{title},
        content = #{content}
        WHERE board_id = #{boardId}
    </update>

    <!-- 게시글 삭제 -->
    <update id="deletePost" parameterType="java.lang.Long">
        UPDATE board
        SET is_deleted = TRUE
        WHERE board_id = #{boarId}
    </update>

    <!-- 게시글 이미지 조회 -->
    <select id="findImagesById" parameterType="java.lang.Long" resultType="com.example.Asum_BE.board.entity.BoardImageEntity">
        SELECT
        store_file_name AS storeFileName
        FROM board_image
        WHERE board_id = #{boardId}
        AND is_deleted = FALSE
    </select>

    <!-- 게시글 썸네일 이미지 조회 -->
    <select id="findThumbnailById" parameterType="java.lang.Long" resultType="java.lang.String">
        SELECT store_file_name
        FROM board_image
        WHERE board_id = #{boardId}
        AND is_deleted = FALSE
        ORDER BY image_id ASC
        LIMIT 1;
    </select>

    <!-- 게시글 이미지 저장 -->
    <insert id="savePostImages">
        <selectKey resultType="long" keyProperty="imageId" order="BEFORE">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO board_image (board_id, upload_file_name, store_file_name)
        VALUES
        <foreach collection="boardImageEntities" item="image" separator=",">
            (#{boardId}, #{image.uploadFileName}, #{image.storeFileName})
        </foreach>
    </insert>

    <!-- 게시글 삭제로 인한 이미지 삭제 -->
    <update id="deletePostToImage" parameterType="java.lang.Long">
        UPDATE board_image
        SET is_deleted = TRUE
        WHERE board_id = #{boardId}
    </update>

    <!-- 게시글 수정에서의 이미지 삭제 -->
    <update id="deleteImage">
        UPDATE board_image
        SET is_deleted = TRUE
        WHERE board_id = #{boardId}
        AND upload_file_name = #{deleteImage}
    </update>

    <!-- 게시물 조회수 증가 -->
    <update id="increaseViewCount" parameterType="java.lang.Long">
        UPDATE board
        SET view_count = view_count + 1
        WHERE board_id = #{board_id}
    </update>

</mapper>