<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.Asum_BE.quote.mapper.QuoteMapper">

    <!-- 카테고리의 질문 조회 -->
    <select id="findQuestionsById" parameterType="java.lang.Long" resultType="com.example.Asum_BE.quote.entity.QuestionEntity">
        SELECT
        q.question_id AS questionId,
        q.question,
        q.category_id AS categoryId,
        c.category_name AS categoryName
        FROM
        question q
        JOIN category c
        ON c.category_id = q.category_id
        OR q.category_id IS NULL
        WHERE c.category_id = #{categoryId}
        AND (c.include_common = TRUE OR q.category_id IS NOT NULL)
    </select>

    <!-- 카테고리의 답변 조회 -->
    <select id="findAnswerOptionById" parameterType="java.lang.Long" resultType="com.example.Asum_BE.quote.entity.AnswerEntity">
        SELECT
        q.question_id AS questionId,
        q.category_id AS categoryId,
        a.answer_option AS answerOption
        FROM
        question q
        JOIN category c
        ON c.category_id = q.category_id
        OR q.category_id IS NULL
        JOIN answer a
        ON q.question_id = a.question_id
        WHERE c.category_id = #{categoryId}
        AND (c.include_common = TRUE OR q.category_id IS NOT NULL)
    </select>

    <!-- 카테고리 이름 조회 -->
    <select id="findCategoryNameById" parameterType="java.lang.Long">
        SELECT
        category_name
        FROM
        category
        WHERE category_id = #{categoryId}
    </select>

    <!-- 견적서(선택한 답변) 저장 -->
    <insert id="saveQuote" parameterType="java.util.List">
        <selectKey resultType="long" keyProperty="quoteId" order="BEFORE">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO quote (user_id, category_id, question_id, answer_id, other_answer, created_at)
        VALUES
        <foreach collection="quoteEntities" item="quote" separator=",">
            (#{quote.userId}, #{quote.categoryId}, #{quote.questionId}, #{quote.answerId}, #{quote.otherAnswer}, NOW())
        </foreach>
    </insert>

    <!-- 견적서 조건에 맞는 성별 조회 -->
    <select id="findGenderForExpert" resultType="String">
        SELECT a.answer_option
        FROM answer a
        WHERE a.answer_id = (
        SELECT qu.answer_id
        FROM quote qu
        WHERE qu.question_id = (
        SELECT DISTINCT q.question_id
        FROM question q
        JOIN category c ON c.category_id = q.category_id OR q.category_id IS NULL
        JOIN answer a ON q.question_id = a.question_id
        WHERE c.category_id = #{categoryId}
        AND q.question LIKE '%고수의%'
        AND (c.include_common = TRUE OR q.category_id IS NOT NULL)
        )
        AND qu.user_id = #{userId}
        AND qu.category_id = #{categoryId}
        )
    </select>

    <!-- 견적서 조건에 맞는 고수 조회 -->
    <select id="findQuoteExpertsById" resultType="com.example.Asum_BE.quote.entity.QuoteExpertEntity">
        SELECT DISTINCT
        q.user_id, ec.category_id, c.category_name,
        e.expert_id, e.expert_name, e.location, e.gender
        FROM expert_category ec
        JOIN expert e ON ec.expert_id = e.expert_id
        JOIN category c ON c.category_id = ec.category_id
        JOIN quote q ON q.category_id = ec.category_id
        WHERE c.category_id = #{categoryId}
        AND q.user_id = #{userId}
        AND e.location = (
        SELECT a.answer_option
        FROM answer a
        WHERE a.answer_id = (
        SELECT qu.answer_id
        FROM quote qu
        WHERE qu.question_id = (
        SELECT DISTINCT q.question_id
        FROM question q
        JOIN category c ON c.category_id = q.category_id OR q.category_id IS NULL
        JOIN answer a ON q.question_id = a.question_id
        WHERE c.category_id = #{categoryId}
        AND q.question LIKE '지역%'
        AND (c.include_common = TRUE OR q.category_id IS NOT NULL)
        LIMIT 1
        )
        AND qu.user_id = #{userId}
        LIMIT 1
        )
        )
        <if test="genderPreference != null and genderPreference == '남자'">
            AND e.gender = 'M'
        </if>
        <if test="genderPreference != null and genderPreference == '여자'">
            AND e.gender = 'F'
        </if>
    </select>

    <!-- (회원 입장) 작성한 견적 요청서 목록 조회 -->
    <select id="findAllQuotesForUser" resultType="com.example.Asum_BE.quote.dto.responseDto.QuoteListForUserResponseDto">
        SELECT DISTINCT
        q.category_id as categoryId,
        c.category_name as categoryName
        FROM quote q
        JOIN category c
        ON q.category_id = c.category_id
        where q.user_id = #{userId};
    </select>

    <!-- (회원 입장, 전문가 입장) 견적 요청서 상세 조회 -->
    <select id="findQuoteById" resultMap="quoteResultMap">
        SELECT
        c.category_name,
        q.question, a.answer_option,
        quote.other_answer
        FROM
        quote
        JOIN category c
        ON c.category_id = quote.category_id
        JOIN question q
        ON q.question_id = quote.question_id
        JOIN answer a
        ON a.answer_id = quote.answer_id
        WHERE quote.user_id = #{userId}
        and quote.category_id = #{categoryId}
    </select>

    <resultMap id="quoteResultMap" type="com.example.Asum_BE.quote.dto.responseDto.QuoteResponseDto">
        <result property="categoryName" column="category_name"/>
        <collection property="userAnswerResponseDtos" ofType="com.example.Asum_BE.quote.dto.responseDto.UserAnswerResponseDto">
            <result property="question" column="question"/>
            <result property="answerOption" column="answer_option"/>
            <result property="otherAnswer" column="other_answer"/>
        </collection>
    </resultMap>

    <!-- (전문가 입장) 받은 견적 요청서 목록 조회 -->
    <select id="findAllQuotesForExpert" resultType="com.example.Asum_BE.quote.dto.responseDto.QuoteListForExpertResponseDto">
        SELECT DISTINCT q.user_id, q.category_id, c.category_name
        FROM quote q
        JOIN answer a ON q.answer_id = a.answer_id
        JOIN category c ON q.category_id = c.category_id
        WHERE q.category_id IN (
        SELECT ec.category_id
        FROM expert_category ec
        JOIN expert e ON e.expert_id = ec.expert_id
        WHERE e.expert_id = #{expertId}
        )
        AND q.user_id IN (
        SELECT q1.user_id
        FROM quote q1
        JOIN answer a1 ON q1.answer_id = a1.answer_id
        WHERE q1.question_id = (
        SELECT DISTINCT q.question_id
        FROM question q
        JOIN category c ON c.category_id = q.category_id OR q.category_id IS NULL
        JOIN answer a ON q.question_id = a.question_id
        WHERE q.question LIKE '지역%'
        AND (c.include_common = TRUE OR q.category_id IS NOT NULL)
        AND c.category_id IN (
        SELECT ec.category_id
        FROM expert_category ec
        JOIN expert e ON e.expert_id = ec.expert_id
        WHERE e.expert_id = #{expertId}
        )
        )
        AND a1.answer_option = (
        SELECT e.location
        FROM expert_category ec
        JOIN expert e ON e.expert_id = ec.expert_id
        WHERE e.expert_id = #{expertId}
        )
        )
        AND q.user_id IN (
        SELECT q2.user_id
        FROM quote q2
        JOIN answer a2 ON q2.answer_id = a2.answer_id
        WHERE q2.question_id = (
        SELECT DISTINCT q.question_id
        FROM question q
        JOIN category c ON c.category_id = q.category_id OR q.category_id IS NULL
        JOIN answer a ON q.question_id = a.question_id
        WHERE q.question LIKE '선호하는%'
        AND (c.include_common = TRUE OR q.category_id IS NOT NULL)
        AND c.category_id IN (
        SELECT ec.category_id
        FROM expert_category ec
        JOIN expert e ON e.expert_id = ec.expert_id
        WHERE e.expert_id = #{expertId}
        )
        )
        <choose>
            <when test="gender == 'M'">
                AND a2.answer_option IN ('남자', '무관')
            </when>
            <when test="gender == 'F'">
                AND a2.answer_option IN ('여자', '무관')
            </when>
        </choose>
        )
    </select>

    <!-- 전문가의 성별 조회 -->
    <select id="findGender" resultType="Character">
        SELECT e.gender
        FROM expert e
        JOIN expert_category ec
        ON e.expert_id = ec.expert_id
        WHERE e.expert_id = #{expertId}
    </select>

</mapper>